<mat-form-field appearance="outline" class="w-full" style="margin-bottom: 1rem;">
  <mat-label>{{ label }}</mat-label>
  <mat-date-range-input
    [rangePicker]="picker"
    [min]="minDate"
    [max]="maxDate">
    
    <input matStartDate [formControlName]="startControlName" placeholder="Start date">
    <input matEndDate [formControlName]="endControlName" placeholder="End date">
  
  </mat-date-range-input>
  
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker>
</mat-form-field>